.project-data-display{
    border-top: 2px solid #333;
    /* align-content: center;
    height: 800px;
    width: 90%;
    margin: auto; */
}

.project-modules{
    display: flex;
}

.edit-proj-title{
    background-color: #333;
    color: white;
    border: none;
    margin-left: 1%;
    /* font-size: .3em; */
}

.proj-mod{
    /* position: relative; */
    border: 1px solid white;
    width: 500px;
    margin-left: 45px;
    margin-bottom: 15px;
    height: 300px;  
    overflow: scroll;

}

.proj-info{
    font-size: .7em;
    font-weight: 100;
}

#project-title{
    font-size: 2em;
    font-weight: 400;
}

#project-description{
    font-size: 1.5em;
    font-weight: 200;

}

.project-image-preview{
    height: 50px;
    width: 50px;

}

.project-image-full{
    height: 200px;
    width: 200px;
}

.id-title-description{
    text-align: left;
}

.id-image{
    height: 200px;
    width: 250px;
}

.image-preview{
    height: 50px;
    width: 50px;
}

.date-time{
    display: flex;
    font-size: 1.3em;
    padding: 1%;
    
}

.date-time select{
    height: 57px;
    font-weight: 900;
    font-size: .7em;
}

.daypart-duration{
    width: 75px;
    margin-left: 10px;
}

.add-new-btn{
    background-color: #333;
    border: none;
    color: white;
    font-weight: 200;
    font-size: 1em;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
}

.add-new-btn:hover{
    border: 2px solid rgba(235, 61, 61, 0.664)
}

.custom-file-upload:hover{
    border: 2px solid rgba(235, 61, 61, 0.664)
}

.custom-file-btn:hover{
    border: 2px solid rgba(235, 61, 61, 0.664)
}

.proj-imag-upload:hover{
    border: 2px solid rgba(235, 61, 61, 0.664)
}

input[type="file"] {
    display: none;
}

.proj-user-mod{
    display: inline;
    overflow: scroll;
}

.upload-message{
    position: relative;
    top: 0px;
}

.proof-of-age{
    height: 50%;
}

.custom-file-upload{
    /* position: relative;
    background-color: #333;
    height: 20px;
    padding: 10px;
    font-weight: 300; */
    /* margin-top: 10px;    */
    background-color: #333;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 1em;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
}

.custom-file-btn{
    position: relative;
    top: -30px;

    background-color: #333;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 1em;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
}

.proj-imag-upload{
    position: relative;
    top: 30px;

    background-color: #333;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 1em;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
}
/* .date-form{
    margin-left:  100px;
} */
#final-images{
    position: relative;
    top: 50px;
}
#save-button{
    border: 1px solid grey;
    width: 100px;
    text-align: center;
    padding-top: 2%;
    margin-left: 2%;
    /* padding: auto; */
}
#save-button:hover{
    background-color:rgba(17, 83, 34, 0.664);
}

@media(max-width: 380px){
    .project-modules{
        display: block;
    }

    .project-data-display{
        border-top: none;
    }

    .proj-mod{
        /* position: relative; */
        border: 1px solid white;
        width: 90%;
        margin-left: 18px;
        margin-bottom: 15px;
        height: 300px;  
        overflow: scroll;
    
    }
}
