.project-data-display{
    border: 1px solid white;
    align-content: center;
    height: 800px;
    width: 90%;
    margin: auto;
}

.project-modules{
    display: flex;
}

.proj-mod{
    /* position: relative; */
    border: 1px solid white;
    width: 35%;
    margin-left: 10%;
    height: 300px;  
}