.project-data-display{
    border: 1px solid white;
    /* align-content: center;
    height: 800px;
    width: 90%;
    margin: auto; */
}

.project-modules{
    display: flex;
}

.proj-mod{
    /* position: relative; */
    border: 1px solid white;
    width: 500px;
    margin-left: 45px;
    margin-bottom: 15px;
    height: 300px;  
    overflow: scroll;

}

.proj-info{
    font-size: .7em;
    font-weight: 100;
}

#project-title{
    font-size: 2em;
    font-weight: 300;
}

#project-description{
    font-size: 1.5em;
    font-weight: 200;

}

.project-image-preview{
    height: 50px;
    width: 50px;

}

.project-image-full{
    height: 200px;
    width: 200px;
}

.id-title-description{
    text-align: left;
}