.tr-req-form{
    position: absolute;
    /* left: 5%; */
    width: auto;
    /* float: left; */
    margin-left: 5%;
}

.tr-req-form h1{
    font-size: 3em;
}

.tr-req-form label{
    position: absolute;
    font-size: 1.7em;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: .2ch;
    left:  0px;
}

.tr-form-options{
    position: relative;
    /* display: flex; */
}

.tr-admin-options{
    border: 1px solid white;
    position: relative;
    background-color: red;
    /* font-weight: 500; */
    
}

.form-submit-button {

    background: rgb(218,55,49);
    
    color: white;
    
    
    
    border-style: outset;
    
    border-color:black;
    
    height: 80px;
    
    width: 90%;
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: .2ch;
    font-weight: 500;   
}

.success-message{
    background-color: rgba(9, 196, 65, 0.87);
    position: relative;
    width: 60%;
    height: 100px;
    font-size: 1.7em;
    padding: 5%;
    margin: auto;
    top: 100px;
    font-weight: bold;
    border-radius: 50px 5px / 80px ;
}

