.proj-attrs{
    border: 1px solid white;
    width: 450px;
    padding: 15px;
    text-align: left;
}

.all-projs{
    display: flex;
}

#incomplete-projs{
    margin-left: 10%;
}

#complete-projs{
    position: relative;
    margin-left: 20%;
}