.admin-options{
    border: 1px solid white;
    height: 750px;
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    /* padding: %; */
}

.options-rows{
    position: relative;
    margin: auto;
    /* padding: 5px; */
}

.option{
    border: 1px solid white;
    height: 275px;
    width: 500px;
    margin: 30px;
    
}

.option:hover{
    background-color: white;
    color: black;
}

.selectable-label{
    position: relative;
   
    
    top: 125px;
    /* font-size: 2em; */
    font-weight: 100;
}

