.to-be-scheduled{
    border: 1px solid white;
    /* text-align: left; */
    height: 300px;
    display: flex;
    overflow: scroll;
    
}

.title-description{
    text-align: left;
    font-size: 2em;
}

.project{
    border: 1px solid white;
    height: 70px;
    width: 300px;
    float: left;
    padding: 2px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
    overflow: scroll;
    /* position: relative; */
}

.forward-icon{
    color: white;
    height: 2ppx;
    width: 20px;
    background-color: white;
    float: right;
    position: relative;
    margin-right: 10px;
}   

.id-icon{
    display: flex;
}
