.home-logo{
    width: 75vw;
    height: 100vh;
}

.home-image-window{
    /* margin-left: 5%; */
    position: relative;
    overflow: scroll;
    height: 73vh;
    width: 100vw;
    border: 3px solid rgba(0, 100, 100, 1);
}

.home-image-display{
    display: flex;
    width: 95vw;
    /* margin: auto; */
    /* padding: 0px 100px 0px; */
}

.home-image-display img{
    height: 540px;
    width: 380px;
}

.slide{
    height: 100vh;
    width: 100%;
    /* background-image: url('${content}'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

.social-icons{
    display: flex;
    position: absolute;
    right: 200px;
}

.icon{
    
    height: 20px;
    width: 20px;
    padding-left: 20%;
    
    /* background-color: white; */
}