.tattreq-attrs{
    border: 1px solid white;
    width: 450px;
    padding: 15px;
    text-align: left;
    margin-bottom: 1%;
}



.tattoo-request-panel{
    display: flex;
    width: 100%;
}

#tattreq-details{
    /* border: 1px solid white; */
    /* margin-left: 10%; */
    position: relative;
    /* left: 250; */
    /* width: 200%; */
    /* top: 250px; */
    height: 250%;
    /* background-color: white;
    color: black; */
    /* float: right; */
}

