body{
  background-color: black;
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  color: white;
}

.link-boxes{
  position: relative;
  width: 65%;
  height: 100%;
  margin: auto;
  /* border: 1px solid black; */
  
  display: flex;
}



.box{
  border: 1px solid rgba(204,0,1,255);
  position: relative;
  width: 40%;
  height: auto;
  margin: auto;
  padding: 3%;
}

.box a{
  position: relative;
  top: 40%;
}


#headline{
  font-size: 450%;
  /* font-family:'Arial Narrow Bold', sans-serif; */
  font-weight: 300;
}


#sub-head{
  font-size: 350%;
  font-weight: 100;
}

a{
  text-decoration: none;
  color: white;
  font-family:'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}

@media (max-width: 767px){
  .link-boxes{
    position: relative;
    left: -65px;
    width: 500px;
    height: 300px;
    margin: auto;
    display: block;
    top: 50px;
    text-align: center;
  }

  #right{
    margin-top: 15px;
  }
}
